@font-face {
  font-family: eightBitFont;
  src: url('./assets/font/8bitoperator.ttf');
}

body {
  margin: 0;
  font-family: eightBitFont;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(41, 38, 52);
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.hide-scroll {
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

.hide-scroll::-webkit-scrollbar { /* WebKit */
  width: 0;
  height: 0;
}
