@font-face {
  font-family: eightBitFont;
  src: url('./assets/font/8bitoperator.ttf');
}

body {
  margin: 0;
  font-family: eightBitFont;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(41, 38, 52);
  color: white;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.hide-scroll {
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

.hide-scroll::-webkit-scrollbar { /* WebKit */
  width: 0;
  height: 0;
}

.highlight:hover {
  color: yellow;
  cursor: pointer
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

input {
  padding: 0.25rem;
  margin-bottom: 0.75rem;
  font-family: 'eightBitFont';
}

.error {
  transition: opacity 0.5s;
  opacity: 1;
}

.error.hide {
  opacity: 0;
  pointer-events: none;
}