@font-face {
  font-family: eightBitFont;
  src: url('./assets/font/8bitoperator.ttf');
}

body {
  margin: 0;
  font-family: eightBitFont;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
